<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <p></p>
      <h4>Zhang Chen Blog Site</h4>
      <p>Welcome to my blog site.</p>
    </div> <!-- container -->
  </body>
</html>
