<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <% include ./partials/nav %>
      <p></p>
      <h1>Zhang Chen Blog Site</h1>
      <p>Welcome to my blog site.</p>
    </div> <!-- container -->
  </body>
</html>
