<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul class="nav">
          <li><a href="/">My Blog</a></li>
          <li><a href="/blogger/views/blogList.ejs">List Blogs</a></li>
          <li><a href="/blogger/views/blogAdd.ejs">Add Blog</a></li>
      </ul>
    </nav>
    <div class="container">
      <p></p>
      <h4>Zhang Chen Blog Site</h4>
      <p>Welcome to my blog site.</p>
    </div> <!-- container -->
  </body>
</html>
