<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Lists Blog</title>
  </head>
  <body>
    <div class="container">
      <% include ./partials/nav %>
      <p></p>
      <h4>Blog List</h4>
      <p>Blog feature is under construction.</p>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>