extends layout

block content
  h1 Biography
  p Zhang Chen's Biography
  ul
     li
       strong Bachelors:
       |  Actuarial Science, Millersville University
     li
       strong Bachelors:
       |  Computer Science, Millersville University
