<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome-all.css">
</head>
<body>
<p></p>
<div class="container">
  <% include ./partials/nav %> 
  <p></p>
        <div class="card border-primary" style="width: 50%">
        <form method="POST" action="/blogEdit/<%= blog._id %>" style="padding: 20px">
            <div class="form-group">
                <label for="summary" class="text-primary">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle" value="<%= blog.blogTitle %>">
                <label for="detail" class="text-primary">Blog Text</label>
                <textarea class="form-control" id="blogText" rows="3" name="blogText"><%= blog.blogText %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Blog</button>
        </form>
        </div>
    </div> <!-- container -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
